<div class="d-flex flex-column gap-3 bg-body-tertiary p-5 rounded-2">
  <h1 class="">
    Counter : <span>{{ counter | async }}</span>
  </h1>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="my-4">
          User : <span>{{ (user | async )== null ? "null" : "" }}</span>
        </h1>
        <table *ngIf="user | async" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>
                {{ (user |async ).name}}
              </th>
              <td>{{ (user | async).email }}</td>
              <td>{{ (user |async).phoneNumber}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-12">
        <h1 class="my-4">
          Product : <span>{{ (products | async ) === null ? "null" : (products | async ).length === 0 ? "null" : ""
            }}</span>
        </h1>
        <div *ngIf="(products | async).length > 0 && products"
          class="table-responsive rounded rounded-3 border border-secondary-subtle overflow-auto">
          <table class="table table-striped table-hover table-borderless table-light align-middle h-100">
            <thead class="table-light">
              <tr>
                <th>Img</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <ng-container *ngIf="products | async; else noData">
                <tr *ngFor="let product of products | async" class="table-light">
                  <td class="">
                    <img [src]="product.imageUrl" class="img-fluid w-auto rounded" style="max-width: 100px;"
                      alt="image desc" />
                  </td>
                  <td>{{product.productName}}</td>
                  <td>{{product.description}}</td>
                  <td>
                    {{ product.price }}
                    {{ (currentCurrency | async) === 'USD' ? '$' : (currentCurrency | async) === 'TRY' ? '₺' :
                    (currentCurrency | async) === 'EUR' ? '€' : '' }}
                  </td>
                </tr>
              </ng-container>
              <ng-template #noData>
                <tr class="table-light">
                  <td colspan="5" class="text-center">No Data</td>
                </tr>
              </ng-template>
            </tbody>
            <tfoot>

            </tfoot>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>