<div class="container">
    <h2 class="text-center my-5 border-bottom border-secondary-subtle pb-3 ">Product A</h2>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary mb-5" data-bs-toggle="modal" data-bs-target="#productAddModal">
        Add Product
    </button>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive overflow-auto rounded rounded-3 border border-secondary-subtle overflow-auto ">
                <table class="table table-striped table-hover table-borderless table-light align-middle h-100">
                    <thead class="table-light">
                        <tr>
                            <th>Img</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <ng-container *ngIf="products && (products | async).length > 0; else noData">
                            <tr *ngFor="let product of products | async" class="table-light">
                                <td class="">
                                    <img [src]="product.imageUrl" class="img-fluid w-auto rounded"
                                        style="max-width: 100px;" alt="image desc" />
                                </td>
                                <td>{{product.productName}}</td>
                                <td>{{product.description}}</td>
                                <td>
                                    {{ product.price }}
                                    {{ (currentCurrency | async) === 'USD' ? '$' : (currentCurrency | async) === 'TRY' ?
                                    '₺' :
                                    (currentCurrency | async) === 'EUR' ? '€' : '' }}
                                </td>
                                <td>
                                    <button type="button" class="btn fs-4" data-bs-toggle="modal"
                                        data-bs-target="#productUpdateModal" (click)="getProductById(product.id)">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn fs-4" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal" (click)="getProductById(product.id)">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-template #noData>
                            <tr class="table-light">
                                <td colspan="5" class="text-center">No Data</td>
                            </tr>
                        </ng-template>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>


    </div>

    <!-- Add Modal -->
    <div class="modal fade" id="productAddModal" tabindex="-1" aria-labelledby="productAddModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <form [formGroup]="productForm" (ngSubmit)="addProduct()">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="productAddModalLabel">Add Product</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col">
                            <div class="mb-3">
                                <label for="productName" class="form-label">Product Name</label>
                                <input type="text" name="productName" id="productName" class="form-control"
                                    formControlName="productName" aria-describedby="helpId" />
                                <small id="helpId" class="text-muted">Help text</small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="price" class="form-label">Price</label>
                                <input type="number" name="price" id="price" class="form-control"
                                    formControlName="price" aria-describedby="helpId" />
                                <small id="helpId" class="text-muted">Help text</small>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" name="description" id="description" class="form-control"
                                formControlName="description" aria-describedby="helpId" />
                            <small id="helpId" class="text-muted">Help text</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Update Modal -->
    <div class="modal fade" id="productUpdateModal" tabindex="-1" aria-labelledby="productUpdateModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <form [formGroup]="productForm" (ngSubmit)="updateProduct()">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="productAddModalLabel">Update Product</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col">
                            <div class="mb-3">
                                <label for="productName" class="form-label">Product Name</label>
                                <input type="text" name="productName" id="productName" class="form-control"
                                    formControlName="productName" aria-describedby="helpId"
                                    [value]="getProductByIdData?.productName" />
                                <small id="helpId" class="text-muted">Help text</small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="price" class="form-label">Price</label>
                                <input type="number" name="price" id="price" class="form-control"
                                    formControlName="price" aria-describedby="helpId"
                                    [value]="getProductByIdData?.price" />
                                <small id="helpId" class="text-muted">Help text</small>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" name="description" id="description" class="form-control"
                                formControlName="description" aria-describedby="helpId"
                                [value]="getProductByIdData?.description" />
                            <small id="helpId" class="text-muted">Help text</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Update Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><span class="fw-bold border-bottom">{{getProductByIdData?.productName}}</span> ürününü silmek
                        istediğinize emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        (click)="deleteProduct(getProductByIdData?.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>